src/stepfuntion_multi_language_media_app/definition.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Init",
    "States": {
      "Init": {
        "Type": "Pass",
        "Next": "Speak Welcome and Press 1 for Spanish",
        "Assign": {
          "QueueUrl.$": "$.QueueUrl",
          "CallId.$": "$.CallId",
          "SipMediaApplicationId.$": "$.SipMediaApplicationId",
          "TransactionId.$": "$.TransactionId"
        }
      },
      "Speak Welcome and Press 1 for Spanish": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl.$": "$QueueUrl",
          "MessageBody": {
            "SchemaVersion": "1.0",
            "Actions": [
              {
                "Type": "Speak",
                "Parameters": {
                  "CallId.$": "$CallId",
                  "Text": "Welcome to our Chime SDK low-code demo!",
                  "Engine": "neural",
                  "LanguageCode": "en-US",
                  "TextType": "text",
                  "VoiceId": "Joanna"
                }
              },
              {
                "Type": "SpeakAndGetDigits",
                "Parameters": {
                  "CallId.$": "$CallId",
                  "SpeechParameters": {
                    "Text": "Para Espanol, presione 1.",
                    "Engine": "neural",
                    "LanguageCode": "es-US",
                    "TextType": "text",
                    "VoiceId": "Lupe"
                  },
                  "FailureSpeechParameters": {
                    "Text": "Let's continue!",
                    "Engine": "neural",
                    "LanguageCode": "en-US",
                    "TextType": "text",
                    "VoiceId": "Joanna"
                  },
                  "MinNumberOfDigits": 0,
                  "MaxNumberOfDigits": 1,
                  "InBetweenDigitsDurationInMilliseconds": 5000,
                  "Repeat": 0,
                  "RepeatDurationInMilliseconds": 2000
                }
              }
            ],
            "TransactionAttributes": {
              "WaitToken.$": "$$.Task.Token",
              "QueueUrl.$": "$QueueUrl"
            }
          }
        },
        "Next": "Check if 1 was Pressed",
        "TimeoutSeconds": 60,
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Check Response",
            "Comment": "All Errors",
            "ResultPath": "$.Error"
          }
        ]
      },
      "Check Response": {
        "Type": "Choice",
        "Choices": [
          {
            "Or": [
              {
                "Variable": "$.Error.Error",
                "StringMatches": "INVALID_LAMBDA_RESPONSE"
              },
              {
                "Variable": "$.Error.Error",
                "StringMatches": "ACTION_FAILED"
              }
            ],
            "Next": "Invalid or Failed Action"
          },
          {
            "Variable": "$.Error.Error",
            "StringMatches": "HANGUP",
            "Next": "Succeded"
          }
        ],
        "Default": "Unexpected Failure"
      },
      "Invalid or Failed Action": {
        "Type": "Fail"
      },
      "Check if 1 was Pressed": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.ActionData.ReceivedDigits",
            "IsPresent": true,
            "Next": "Speak Bienvenido y continua en Espanol"
          }
        ],
        "Default": "Speak Bye English"
      },
      "Speak Bienvenido y continua en Espanol": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl.$": "$QueueUrl",
          "MessageBody": {
            "SchemaVersion": "1.0",
            "Actions": [
              {
                "Type": "Speak",
                "Parameters": {
                  "CallId.$": "$CallId",
                  "Text": "Bienvenido a nuestro demo para mostrar cómo crear aplicaciones telefónicas de manera ágil y con mínima programación.",
                  "Engine": "neural",
                  "LanguageCode": "es-US",
                  "TextType": "text",
                  "VoiceId": "Lupe"
                }
              }
            ],
            "TransactionAttributes": {
              "WaitToken.$": "$$.Task.Token",
              "QueueUrl.$": "$QueueUrl"
            }
          }
        },
        "Next": "Speak Bye en Espanol",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Check Response",
            "ResultPath": "$.Error"
          }
        ],
        "TimeoutSeconds": 60
      },
      "Speak Bye en Espanol": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl.$": "$QueueUrl",
          "MessageBody": {
            "SchemaVersion": "1.0",
            "Actions": [
              {
                "Type": "Speak",
                "Parameters": {
                  "CallId.$": "$CallId",
                  "Text": "Gracias por probar nuestro demo!",
                  "Engine": "neural",
                  "LanguageCode": "es-US",
                  "TextType": "text",
                  "VoiceId": "Lupe"
                }
              }
            ],
            "TransactionAttributes": {
              "WaitToken.$": "$$.Task.Token",
              "QueueUrl.$": "$QueueUrl"
            }
          }
        },
        "TimeoutSeconds": 60,
        "Next": "Hangup",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Check Response",
            "ResultPath": "$.Error"
          }
        ]
      },
      "Speak Bye English": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl.$": "$QueueUrl",
          "MessageBody": {
            "SchemaVersion": "1.0",
            "Actions": [
              {
                "Type": "Speak",
                "Parameters": {
                  "CallId.$": "$CallId",
                  "Text": "Thank you for trying our demo! Bye.",
                  "Engine": "neural",
                  "LanguageCode": "en-US",
                  "TextType": "text",
                  "VoiceId": "Joanna"
                }
              }
            ],
            "TransactionAttributes": {
              "WaitToken.$": "$$.Task.Token",
              "QueueUrl.$": "$QueueUrl"
            }
          }
        },
        "TimeoutSeconds": 60,
        "Next": "Hangup",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Check Response",
            "ResultPath": "$.Error"
          }
        ]
      },
      "Hangup": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
        "Parameters": {
          "QueueUrl.$": "$QueueUrl",
          "MessageBody": {
            "SchemaVersion": "1.0",
            "Actions": [
              {
                "Type": "Hangup",
                "Parameters": {
                  "CallId.$": "$CallId",
                  "SipResponseCode": "0"
                }
              }
            ],
            "TransactionAttributes": {
              "WaitToken.$": "$$.Task.Token",
              "QueueUrl.$": "$QueueUrl"
            }
          }
        },
        "Next": "Succeded",
        "TimeoutSeconds": 60,
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Succeded",
            "ResultPath": "$.Error"
          }
        ]
      },
      "Unexpected Failure": {
        "Type": "Fail"
      },
      "Succeded": {
        "Type": "Succeed"
      }
    }
  }